.filter input {
  border: 1.4424px solid #999999;
  border-radius: 15px;
  height: 25px;
  padding-inline-start: 10px;
}

.filterSpacer {
  padding-inline: 10px;
}

@media screen and (max-width: 450px) {
  .filterSpacer {
    padding-inline: 20px;
  }
}

.filter button {
  height: 30px;
  border-radius: 15px;
  border-width: 1px;
  color: black;

  background: linear-gradient(
    165.46deg,
    rgba(255, 255, 255, 0.989362) 6.92%,
    #bbbbbb 91.21%
  );
}

.filter {
  display: grid;
  column-gap: 15px;
  grid-template-areas: "input button";
  grid-template-columns: 2fr minmax(200px, 1fr);
}

@media screen and (max-width: 600px) {
  .filter {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "input"
      "button";
  }
}

.filter label {
}

.filter input {
  grid-area: input;
}

.filter button {
  grid-area: button;
}

/* .filter label[for="filterInput"] {
  display: none;
} */
