dialog {
  max-width: 80%;
  z-index: 50;
  top: 10%;
}

dialog {
  border-radius: 25px;
  border-color: #8c4200;
  box-shadow: 3px 29px 50px 37px rgba(0, 0, 0, 0.6);
}

.modalContainer > .header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.modalContainer > .header > h1 {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 10px;
}

.modalContainer > .header > button {
  border-color: gray;
  border-radius: 50px;
  padding: 3px 0 0 0;
  margin-bottom: 5px;
}
