.search input {
  border: 1.4424px solid #999999;
  border-radius: 15px;
  height: 25px;
  padding-inline-start: 10px;
}

.searchSpacer {
  padding-inline: 10px;
}

@media screen and (max-width: 450px) {
  .searchSpacer {
    padding-inline: 20px;
  }
}

.search button {
  height: 30px;

  border-radius: 15px;
  border-width: 1px;
  color: white;
  background: linear-gradient(180deg, #ff7900 0%, #964700 100%);
}

.search {
  display: grid;
  column-gap: 15px;
  grid-template-areas: "input button";
  grid-template-columns: 2fr minmax(200px, 1fr);
}

@media screen and (max-width: 600px) {
  .search {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "input"
      "button";
  }
}

.search label {
}

.search input {
  grid-area: input;
}

.search button {
  grid-area: button;
}

/* .search label[for="searchInput"] {
  display: none;
} */
