.videoList {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: flex-start;
}

@media screen and (min-width: 950px) and (max-width: 1450px) {
  .videoList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 500px) and (max-width: 950px) {
  .videoList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .videoList {
    grid-template-columns: 1fr;
  }
}
