.videoContainer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  aspect-ratio: 16/9;
  width: 100%;
}

.videoContainer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.videoContainer .video {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.videoContainer .thumbnail {
  z-index: 2;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}

p {
  word-break: break-word;
}

.cardContainer {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.controls button {
  padding: 0;
  margin: 0;
  border-radius: 25px;
  border-width: 0;
}

.controls {
  width: calc(100% - 30px);
  /* position: relative; */
  display: inline-flex;
  justify-content: space-between;
}

.leftControl,
.rightControl {
  margin-top: -30px;
  z-index: 4;
}

.cardContainer > .title {
  width: 100%;
}

.cardContainer > .title p {
  padding: 0 15px;
  margin: 0;
  /* Line Clamp */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardContainer > .title strong {
  color: #853e00; /* Originally it was #ff7900, changed because it was low contrast  */
}
