.App {
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .App {
    padding: 0;
  }
}

h1.title {
  margin-top: 5px;
  margin-bottom: 28px;
  font-weight: 500;
}

.App hr {
  border: 1px solid #964700;
}

.App .spacer {
  margin-top: 22px;
}

h1.title {
  padding-inline: 10px;
}

@media screen and (max-width: 450px) {
  h1.title {
    padding-inline: 20px;
  }
}
